@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-text;
  font-family: 'Segoe UI', ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2e3250;
  border-radius: 3px;
}
